*{
    margin: 0;
    padding: 0
}
.container{
    width: 1200px;
    height: 600px;
    background-color: darkred;
}
#titulo{
    width: 600px;
    height: 50px;
    background-color: blue;
    margin: 20px;
    font-family: sans-serif;
}
#foto{
    width: 600px;
    height: 300px;
    background-color: yellow;
    
}